@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/*Configuração geral*/
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #d2d4d5;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.responsivelmain{
    min-width: 100px;
    max-width: 1200px;
    margin: auto;
}

/*Header - cabeçalho*/
.cabeçalho{
    background-color: #6e1c1c;   
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.titulo-do-cabeçalho{
    padding: 20px;
    color: rgb(201, 199, 193);
    font-size: 26px;  
    font-family: "Poppins", sans-serif;
}

.log-vagas{
    padding: 20px;
    color: rgb(201, 199, 193);
    font-size: 12px;  
    font-family: "Poppins", sans-serif;
}

/* Main > Home Inicial */
.home-inicial{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.card-text{
    margin-top: 220px;
}

.titulo-do-home-inicial{
    font-size: 40px;
    color: rgb(138, 88, 7);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.paragrafo-do-titul-inicial{
    font-size: 26px;
    color: rgb(138, 88, 7);
    font-family: "Dancing Script", cursive;
    margin-top: 10px;
}

.btn-home-inicial{
    background-color: #6e1c1c;
    border: none;
    border-radius: 5px;
    color: rgb(208, 205, 202);
    margin-top: 30px;
    width: 170px;
    height: 35px;
    font-size: 17px;
    font-family: "Dancing Script", cursive;
}

.card-img{
    background-color: #6e1c1c;
    height: 535px;
    margin-top: 50px;
    border-radius: 120px 30px 0px 0px;
    border: 4px solid #fffffff5;
    width: 380px;
}

.casal-img{
    height: 480px;
    padding: 45px;
    margin-top: 10px;
}

.btn-data{
    display: flex;
}

.data-evento{
    font-size: 20px;
    color: rgb(138, 88, 7);
    font-family: "Dancing Script", cursive;
    margin-top: 35px;
    margin-left: 85px;
}

/* Main > Passos do cadastro */
.meio-main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 250px;
}

.card-passos{
    background-color: #6e1c1c;
    width: 270px;
    height: 270px;
    border-radius: 90px 20px 80px 20px;
    border: 4px solid #ffffffdd;
}

.card-titulo-passos{
    text-align: center;
    margin-top: 35px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-paragrafo-passos{
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
}

.card-passos-aviso{
    background-color: #6e1c1c;
    width: 270px;
    height: 270px;
    border-radius: 90px 20px 80px 20px;
    border: 4px solid #ffffffdd;
}

.card-paragrafo-passos-aviso{
    text-align: left;
    padding: 20px;
    margin-top: 10px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}


/* footer > área final > */

.area-meio{
    display: flex;
    justify-content: space-evenly;
    background-color: #6e1c1c;
    border-radius: 00px 8000px 0px 0px ;
    margin-top: 200px;
    height: 680px;
    border: 4px solid #ffffffd8;
}

.titulo-meio-site{
    margin-top: 120px;
    font-size: 25px;
    padding: 10px;
    margin-right: 120px;
    color: rgb(209, 209, 209);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.area-pagamento{
    display: flex;
    gap: 50px;
}

.chave-pix{
    width: 100px;
    margin-top: 80px;    
    margin-left: 60px;
}

.logo-pix{
    width: 100px;
    margin-top: 115px;    
    margin-left: 55px;
    border-radius: 10px;
}

.paragrafo-chave-pix{
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 14px;
}

.paragrafo-chave-pix-telefone{
    text-align: center;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 14px;
}

/* footer > área final > formulário*/

.formulario{
    color: rgb(255, 255, 255);
    background-color: #5805053b;
    width: 300px;
    margin-top: 120px;
    height: 500px;
    border-radius: 15px;
    border: 4px solid#943f40;
    font-size: 14px;
}

.titulo-do-formulario{
    text-align: center;
    background-color:#943f40;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.inputs-do-formulario{
    margin-left: 18px;
    margin-top: 10px;
    font-size: 12px;
}

.inputs-de-entradas{
    margin-top: 10px;
    margin-left: 5px;
}

.caixa-de-inputs{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 17px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(197, 197, 197, 0.806);
}

.caixa-de-marcação{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

#caixa-checkbox{
    width: 30px;
}

#bttn-enviar{
    width: 160px;
    height: 35px;
    border-radius: 20px;
    margin-left: 55px;
    margin-top: 20px;
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid rgba(3, 3, 3, 0.514);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bttn-enviar:hover {
   background-color: #d8cfcf;
}

.aviso-final{
    background-color: rgba(255, 0, 0, 0.135);
    margin-top: 20px;
    width: 420px;
    padding: 10px;
    border-radius: 30px 5px 30px 5px;
    margin-left: 18px;
}

/* Footer > Rodapé Final */



/* Telas de celulares */

@media screen and (max-width: 500px) {


/* Configuração mobile */
.responsivelmain{   
    width: 100%;
    margin: 0;
}

.home-inicial{
    display: block;
    width: 100%;
}

.meio-main{
    display: block;
    width: 100%;
}

.area-meio{
    display: block;
    height: 1050px;
    justify-items: center;
    margin-top: 100px;
    border-radius: 10px 120px 0px 0px;
}

.area-pagamento{
    gap: 20px;
    width: 100%;
}

.card-pagamento{
    display: inline-block;
}

.cabeçalho{
    background-color: #6e1c1c;   
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
}

.titulo-do-cabeçalho{
    padding: 16px;
    font-size: 20px;  
}

/* Main > Home Inicial */

.card-text{
    margin-top: 30px;
}

.titulo-do-home-inicial{
    font-size: 30px;
    margin-left: 15px;
}

.paragrafo-do-titul-inicial{
    font-size: 18px;
    margin-left: 5px;
    padding: 10px;
    text-align: justify;
}

.btn-home-inicial{
    margin-top: 10px;
    width: 140px;
    height: 40px;
    font-size: 14px;
    margin-left: 15px;
}

.card-img{
    height: 415px;
    width: 330px;
    margin: auto;
    margin-top: 100px;
}

.casal-img{
    height: 370px;
    width: 240px;
    padding: 45px;
    margin-top: 0px;
}

.data-evento{
    font-size: 15px;
    color: rgb(138, 88, 7);
    font-family: "Dancing Script", cursive;
    margin-top: 20px;
    margin-left: 45px;
}


/* Main > Passos do cadastro */
.meio-main{
    margin-top: 100px;
    justify-items: center;
}

.card-passos{
    background-color: #6e1c1c;
    width: 310px;
    height: 230px;
    border-radius: 90px 20px 80px 20px;
    border: 4px solid #ffffffdd;
    margin-top: 60px;
}

.card-titulo-passos{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-paragrafo-passos{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.card-passos-aviso{
    background-color: #6e1c1c;
    text-align: left;
    width: 310px;
    height: 250px;
    border-radius: 90px 20px 80px 20px;
    border: 4px solid #ffffffdd;
    margin-top: 60px;
}

.card-paragrafo-passos-aviso{
    text-align: left;
    padding: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

/* footer > área final > */
.titulo-meio-site{
    margin-top: 35px;
    font-size: 20px;
    margin-right: 10px;
    color: rgb(203, 203, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chave-pix{
    width: 100px;
    margin-top: 80px;    
    margin-left: 53px;
}

.logo-pix{
    width: 100px;
    margin-top: 115px;    
    margin-left: 40px;
    border-radius: 10px;
}

.paragrafo-chave-pix{
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 13px;
}

.paragrafo-chave-pix-telefone{
    text-align: center;
    margin-left: 0px;
    margin-top: 25px;
    font-size: 13px;
}

.formulario{
    margin-top: 60px;
    width: 320px;
}

.caixa-de-inputs{
    width: 270px;
}

.aviso-final{
    background-color: rgba(255, 0, 0, 0.135);
    margin-top: 20px;
    width: 320px;
    padding: 10px;
    border-radius: 30px 5px 30px 5px;
    margin: auto;
    margin-top: 20px;
}

}